.editPasswordMain{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.editPassword{
    background-color: #fff;
    width: 40%;
    height: 35%;
    border-radius: 10px;
    padding:20px 100px;
}
.iconArrowHeaderPass{
    position:relative;
    right:130px;
    font-size: 25px;
    color: #0094FF;
}
.iconArrowHeaderPass:hover{
    position:relative;
    right:130px;
    font-size: 25px;
    color: #8c8b8b;
}
.editPasswordHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;   
}
.editPasstitle{
    font-family: userTitleFont;
    font-size: 25px;
    margin-right: 30px;
}
.editPasswordBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconEyePass{
    position: relative;
    border-bottom: 1px  #ccc solid;
    border-top: 1px  #ccc solid;
    border-right: 1px  #ccc solid;
    font-size: 19px;
    padding:5px 10px;
}
.inputPass{
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    width: 63%;
    padding-left: 10px;
    height: 40px;
    font-family: userPharaFont;

}
.editPasswordFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.btnConfirmPass{
    padding: 8px 120px;
    color: #fff;
    border: solid 2px #0094FF;
    background-color: #0094FF;
}
.btnConfirmPass:hover{
    padding: 8px 120px;
    color: #0094FF ;
    border: solid 2px #0094FF;
    background-color:#ebf5fc;
}