.passwordMain{
    height: 92vh;
}
.passwordComponent{
  margin: 100px 25%;
  height: 60%;
  /* border: solid 1px #000; */
}
.passwordHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  border-radius:5px ;
}
.iconShieldHeader{
  /* color:#4cfc7b; */
  color: #04c918;
  font-size: 70px;
}
.passwordPharg{
  font-size: 16px;
  font-family: userTitleFont;
  text-align: center; /* Center align text */

}
.passwordFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  position: relative;
  bottom: 60px;
}
.btnFooterPass{
  text-decoration: none;
  border:solid 2px #0094FF ;
  padding: 5px 40px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #0094FF;
  /* color: #787777; */
  color: #fff;
  font-family: userPharaFont;
  transition: background-color 0.3s ease; /* Smooth transition */
  cursor: pointer;
}

.btnFooterPass:hover{
  text-decoration: none;
  border:solid 2px #0094FF ;
  padding: 5px 40px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #e6efff;
  color: #0094FF;
  font-family: userPharaFont;
}
.iconKey{
  position: relative;
  top: 4px;
  font-size: 22px;
  margin-right: 10px;
}
